.slide {
  composes: slide from 'styles/slide.css';
}

.slide:fullscreen {
  margin: 0;
}

@media (min-width: 550px) {
  .slide {
    min-height: 300px;
    margin: 2em;
    margin-bottom: 1em;
    padding: 3em;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .slide {
    min-height: 500px;
    margin: 3em;
    margin-bottom: 1em;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .slide {
    min-height: 500px;
    margin: 3em;
    margin-bottom: 1em;
  }
}

.input, .textarea {
  display: block;
  width: 80%;
  margin-bottom: 1em;
  margin-left: 1em;
}

.input {
  height: 2em;
}

.textarea {
  min-height: 25em;
}

.slideCount {
  position: absolute;
  bottom: 1em;
  right: 2em;
  text-align: right;
  font-size: 12px;
}
