.slide {
  position: relative;
  margin: 1em;
  padding: 2em;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

@media (min-width: 550px) {
  .slide {
    margin: 2em;
    margin-bottom: 1em;
    padding: 3em;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .slide {
    margin: 3em;
    margin-bottom: 1em;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .slide {
    margin: 4em;
    margin-bottom: 1em;
  }
}
